/* Pop up design from https://www.youtube.com/watch?v=AF6vGYIyV8M */
.popup {
    /* width: 100%;
    height: 88vh;

    position: absolute;
    top: 9%; */

    background-color: #fdd8b9;
    text-align: center;
    text-justify: auto;
    /*box-shadow: 0 5px 5px #808080;*/
    display: flex;
    justify-content: center;
    
    /* Pop-up Animation Related */
    overflow: hidden; 
}

.popup-slide {
    position: absolute;
    transform: translate(0%, 0%);
    width: 95%;
    top: 2.5%;
    height: 80%;
    transition: left 1s;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.all-session-container {
  position: relative;
  height: 50%;
  top: 0%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 0;
  padding-bottom: 10%;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  background-color: white;
  overflow: hidden;

  height: 175px;
  width: 175px;

  padding: 8px;
}

.hash-container {
  height: 4rem;
  width: 90%;

  vertical-align: middle;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 100%; 
}

.session-id {
  font-size: 1.5rem;
  grid-column: 2/3;

  margin: auto;
}

.session-id-input {
  grid-column: 3/4;
  font-size: 1.5rem;
  margin: auto;

  width: 100px;
}

.session-error-msg {
  color: red;
}

.popup-slide-left {
    left: -195%;
}

.popup-slide-center {
    left: 2.5%;
}

.popup-slide-right {
    left: 205%;
}

.map-qn-container {
    height: 55vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.map {
    width: 100%;
    height: 100%;

    border-radius: 15px;
    overflow: hidden;
}

.popup-search-box {
    position: absolute;
    right: 3%;
    top: 22.5%;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    
    /* height: 20vh; */
    max-height: 40vh;
    width: 60vw;
    z-index: 1000;

    font-size: 1rem;
}

.popup-search-bar {
    height: 1rem;
    font-size: 1rem;
}

.popup-search-dropdown {
    z-index: 1001;
    border: 1px solid #999;
    background: rgba(250, 250, 250, 0.9);
    box-shadow: 3px 3px 10px #888;
    color: rgb(61, 60, 60);
    flex: 1;

    /* need to specify max-height, otherwise overflow won't work */
    max-height: 20vh;
    overflow: auto;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: start;

    margin-block-start: 0;
    padding-inline-start: 0;
    overflow-x:hidden;
    overflow-wrap: break-word;
    text-align: left;
}


.popup-search-dropdown li {
    list-style: none;
    padding: 5px 3px;
    cursor: pointer;
    width: 98%;
    word-wrap: normal;
    max-width: 98%;
    
}

.popup-search-dropdown li:hover {
    background:#808080;
}

.address-entry { 
    height: 100%;
}

.popup-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    
    height: 7vh;
    bottom: 2%;
}

.popup-button-container button {
    width: 35%;
    height: 90%;
    background: #bc5a1f;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

    font-family: "Montserrat";
}

.popup-button-container .popup-submit{
    background: #bc5a1f;
}

.submission-instructions-container {
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
  height: 10vh;

  padding: 0;
}

.submission-instructions-container p {
  margin: 0;
}

.submission-username { 
  height: 5vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 20px;
}

.submission-username p { 
  font-size: 1.2rem;
}

.username-input {
  height: 100%;
  font-size: 1.2rem;

  width: 50vw;
}

.popup-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    width: 84px;
    height: 84px;
    transition: filter 0.1s;
}

.submit-confirmation {
  position: absolute;
  left: 15%;
  width: 70%;
  top: 40%;
  height: 5%;
  min-height: fit-content;
  overflow: hidden;
  z-index: 100000;

  border-style: solid;
  background-color: #fdd8b9;
  border-radius: 15px;
  border-color: #bc5a1f;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: top 1s;
}

.submit-slide-top {
  top: -140%;
}

.submit-confirmation p {
  font-size: 2rem;
  margin-top: 10%;
}

@media screen and (min-width: 30em) and (orientation: landscape) {
  .popup-slide {
    width: 40%;
    margin-left: 25%;
  }

  .popup-search-box {
    width: 400px;
  }

  .icon {
    width: 120px;
    height: 120px;
    transition: filter 0.1s;
  }

  .popup-slide-left {
    left: -100%;
  }

  .popup-slide-right {
      left: 100%;
  }

  .username-input {
    width: 30vw;
  }

  .submit-confirmation {
    width: 40%;
    left: 30%;
    
  }

  .submit-confirmation p {
    font-size: 2rem;
    margin-top: 40px;
  }

}