body {
  font-family: 'Poppins', sans-serif;
  color: #011f5b;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: flex-start;
  color: #011f5b;
}

.header img {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 3rem;
  align-self: center;
}

.benchmark-page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-content: flex-start;
  gap: 0rem;
}

.benchmark-menu {
  grid-column: 1 / 2; 
}

fieldset {
  border-color: transparent;
  border-radius: 0.5em;
  width: 70%;
}

.benchmark-menu input {
  border-color: transparent;
  font-size: 1rem;
  background-color: rgb(241, 241, 241);
  border-radius: 0.5em;
  font-weight:lighter;
}

select {
  width: 40%;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 100;
  color: #011f5b;
  border: transparent;
  border-radius: 0.5em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-weight: 100;
  font-size: 1rem;
}

.input-wrapper {
  position: relative;
  width: 60%;
  align-items: center;
  background-color: white;
  opacity: 0.75;
  border-radius: 0.5rem;
}

input[type="number"] {
  width: 100%;
  box-sizing: border-box; 
  appearance: textfield;
}

.unit {
  position: absolute;
  right: 0;  
  width: 5rem;
  color: #cdcbcb; 
}

.benchmark-chart-area {
  display: grid;
  grid-column: 2 / 6; 
  grid-row: 1 / 4; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);   
  height: 70vh;       
  gap: 1.5rem;                                        
}

.pct-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#position-title {
  font-size: 2rem;
  font-weight: 100;
  color: #011f5b;
}

input[type="number"]:invalid {
  color: red;
}

/* Billboard Charts */
.bb-axis.bb-axis-x path.domain {
    opacity: 0;
}

#radar-chart .bb-axis text {
  fill: gray;
  font-size: 0.8rem;
  font-weight: 100;
  text-anchor: middle;
}

.bb-title {
  fill: #011f5b;    
  font-weight: 100;    
}

/* Radar Chart */
.bb-level > polygon:nth-child(1) {
  opacity: 0.3;
}

.bb-axis-0 > line:nth-child(1) {
  opacity: 0.5;
}


.bb-level > text:nth-child(2) {
  opacity: 0;
}

.pct-chart .bb-text {
  font-size: 1.5rem;
}
