.view-results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map-view-container {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

#map-view {
  margin: auto;
  width: 95%;
}

.change-qn-button-container {
  width: 95%;
  height: 15vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.change-qn-button {
  width: 100%;
  height: 10vh;
  min-height: fit-content;
  background-color: #fdd8b9;
  border-radius: 15px;
  border-color: #bc5a1f;

  overflow: hidden;
}

.change-qn-button p {
  font-size: 1.5rem;
  font-family: "Montserrat";
  margin: 0;
}

.view-change-qn-menu {
  position: absolute;
  height: 1%;
  width: 100%;
  z-index: 5000;

  border-style: solid;
  border-width: 0;
  /*border-top-width: 1px;
  border-bottom-width: 1px;*/
  
  border-color: #bc5a1f;
  transition: height 1s;
}

.view-change-qn-menu-open {
  height: 100%;
  visibility: visible;
  background-color: #fdd8b9;
  transition: height 1s;
}

.view-qn-list {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  list-style: none;
  cursor: pointer;
  padding-inline-start: 0;
  margin: 5%;
}

.view-qn-choice {
  font-size: 1.5rem;
  font-family: "Montserrat";
  padding: 0;
  max-height: 0; 

  border-style: solid;
  border-width: 0;
  border-radius: 15px;
  border-color: #bc5a1f;

  text-align: center;
}

.view-qn-choice-open {
  max-height: 14vh;
  border-width: 2px;
  padding: 2% 5%;
}


.view-session {
  width: 90%;
  margin: 10% 5%;
}

.view-button-container {
  width: 95%;
  margin-left: 2.5%;
}
